.box-container {
  height: 300px;
  display: flex;
  flex-direction: row-reverse;
}

.first-div {
  background-color: aqua;

  width: 25%;
  height: 50%;
}

.second-div {
  background-color: firebrick;
  width: 25%;
  height: 50%;
}

.third-div {
  background-color: blueviolet;
  width: 25%;
  height: 50%;
}

.fourth-div {
  background-color: seagreen;
  width: 25%;
  height: 50%;
}

/*
second practice
*/

.second-box-container {
  display: flex;
}
.img-div {
  width: 500px;
}

.title-div {
}
.text-div {
}
/*
second practice
*/
